.ArticlesDetailsPage {
    width: 100%;
}

.commentTitle {
    margin-top: 10px;
}

.recommendations {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    overflow-y: hidden;
    overflow-x: auto;
}
