.app_theme_yellow {
    --bg-color: #0a174e;
    --inverted-bg-color: #f5d042;
    --primary-color: #f5d042;
    --secondary-color: #1aafbc;
    --inverted-primary-color: #0a174e;
    --inverted-secondary-color: #80634c;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // Skeleton
    --skeleton-color: #1aafbc;
    --skeleton-shadow: #80634c;
    --code-bg: #162e95;

    // card
    --card-bg: #15266f;

    // listbox
    --listbox-bg: #80634c;
}
