.app_theme_yellow {
    --bg-color: #0a174e;
    --inverted-bg-color: #f5d042;
    --primary-color: #f5d042;
    --secondary-color: #1aafbc;
    --inverted-primary-color: #0a174e;
    --inverted-secondary-color: #80634c;

    // Skeleton
    --skeleton-color: #1aafbc;
    --skeleton-shadow: #80634c;
    --code-bg: #162e95;

    // card
    --card-bg: #15266f;
}
