.ProfileCard {
    padding: 20px;
    border: 2px solid var(--secondary-color);
}

.input:not(:first-child) {
    margin-top: 10px;
}

.loading,
.error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-secondary-color);
}
