.CommentCard {
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 10px;
}

.header {
    margin-bottom: 10px;
}

.skeleton {
    margin-bottom: 10px;
}

.loading {
    border: 1px solid transparent;
}
